<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6">
    <div class="field">
      <%= f.label :chq_number %><br>
      <%= f.text_field :chq_number, required: true %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field">
      <%= f.label :chq_date %><br>
      <%= f.text_field :chq_date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="field">
      <%= f.label :payee_name %><br>
      <%= f.text_field :payee_name, required: true %>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category, options_for_select([['OP'],['Deal'],['Sourcing'],['Lux'],['COS'],['Health'],['XB'],['SME2C']], params[:category]), {} %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="field">
      <%= f.label :particular %><br>
      <%= f.text_field :particular, required: true %>
    </div>

  </div>

  <div class="col-md-3">
    <div class="field">
      <%= f.label :deal_id %><br>
      <%= f.number_field :deal_id %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.select :currencies, options_for_select([['HKD'],['USD'],['EUR'],['CAD'],['SGD'],['AUD'],['MYR'],['RMB'],['KRW'],['GBP']], params[:currencies]), {} %>
      <%= f.text_field :amount, required: true %>
    </div>
  </div>
  
  
</div>

  <div class="field">
    <%= f.label :prepared, "Prepared by" %><br>
    <%= f.text_field :prepared, value: @log.user.name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
