<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :chq_number %><br>
      <%= f.text_field :chq_number %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= f.label :chq_date %><br>
      <%= f.text_field :chq_date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :payee_name %><br>
      <%= f.text_field :payee_name %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category, options_for_select([['OP'],['Deal'],['Sourcing'],['Lux'],['COS'],['Health'],['XB'],['SME2C']], :selected => f.object.category), {} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :deal_id %><br>
      <%= f.text_field :deal_id %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= f.label :particular %><br>
      <%= f.text_field :particular %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= f.label :salesperson %><br>
      <%= f.text_field :salesperson %>
    </div>
  </div>
  
</div>
  
<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.select :currencies, options_for_select([['HKD'],['USD'],['EUR'],['CAD'],['SGD'],['AUD'],['MYR'],['RMB'],['KRW'],['GBP']], :selected => f.object.currencies), {} %>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="col-md-4"></div>

  <div class="col-md-4">
    <%= f.label :voucher_no, "Voucher#" %><br>
    <%= f.text_field :voucher_no %>
  </div>
</div>


  <div class="field">
    <%= f.label :prepared, "Prepared by" %><br>
    <%= f.text_field :prepared %>
  </div>

<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :sign_date, "Signed Cheque Date" %><br>
      <%= f.text_field :sign_date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= f.label :present_date, "Cheque Presented Date" %><br>
      <%= f.text_field :present_date, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="field">
      <%= f.label :status, "Void Cheque Reason" %><br>
      <%= f.text_field :status %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
