
<br>
<%= search_form_for @q do |f| %>
  
  <div class="form-group">
    <%= f.label :chq_number_eq %><br>
    <%= f.search_field :chq_number_eq %>
  </div>

  <div class="form-group">
    <%= f.label :payee_name_cont %><br>
    <%= f.search_field :payee_name_cont %>
  </div>

  <br>
  <br>
  <div class="form-group">
    <%= f.label :sign_date_gteq , "Sign Chq Date Start from:"%><br>
    <%= f.text_field :sign_date_gteq, 'data-behaviour' => 'datepicker' %>     

    <%=f.label :sign_date_lteq, "to" %>   
    <%= f.text_field :sign_date_lteq, 'data-behaviour' => 'datepicker' %>
  </div>

  <br>
  <br>
  <div class="form-group">
    <%= f.label :present_date_gteq , "Chq Presented Date Start from:"%><br>   
    <%= f.text_field :present_date_gteq, 'data-behaviour' => 'datepicker' %>     

    <%=f.label :present_date_lteq, "to" %>   
    <%= f.text_field :present_date_lteq, 'data-behaviour' => 'datepicker' %>
  </div>

  <br>
  <br>
  <div class="form-group">
    <%= f.label :category_eq , "Search by Category:"%><br>   
    <%= f.select :category_eq, options_for_select([[''],['OP'],['Deal'],['Sourcing'],['Lux'],['COS'],['Health'],['XB'],['SME2C'],['Refund'],['Others']], params[:category_eq]), {} %>
  </div>

  <br>
  <br>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>

  <%= link_to "Clear", root_path, class: "btn btn-default" %>

<% end %>

<br>