<div class="panel panel-default">
  <div class="panel-heading"><h2>View Record</h2></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Chq number:</strong><br>
          <%= @log.chq_number %>
        </p>
      </div>

    <div class="col-md-6">
      <p>
        <strong>Chq date:</strong><br>
        <%= @log.chq_date %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p>
        <strong>Payee Name:</strong><br>
        <%= @log.payee_name %>
      </p>
    </div>
  
    <div class="col-md-3">
      <p>
        <strong>Category:</strong><br>
        <%= @log.category %>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        <strong>Particular:</strong><br>
        <%= @log.particular %>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        <strong>Deal:</strong><br>
        <%= @log.deal_id %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Amount:</strong><br>
        <%= @log.currencies %>
        <%= @log.amount %>
      </p>
    </div>
  </div>  
  
  <%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :sign_date, "Signed Cheque Date" %><br>
        <%= f.text_field :sign_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field">
        <%= f.label :present_date, "Cheque Presented Date" %><br>
        <%= f.text_field :present_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field">
        <%= f.label :status %><br>
        <%= f.text_field :status %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_log_path(@log) %> |
    <%= link_to 'Back', logs_path %>
  </div>
</div>

