<div class="panel panel-default">
  <div class="panel-heading"><h2>View Record</h2></div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Chq number:</strong><br>
          <%= @log.chq_number %>
        </p>
      </div>

    <div class="col-md-4">
      <p>
        <strong>Chq date:</strong><br>
        <%= @log.chq_date %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Payee Name:</strong><br>
        <%= @log.payee_name %>
      </p>
    </div>
  
    <div class="col-md-4">
      <p>
        <strong>Category:</strong><br>
        <%= @log.category %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Deal:</strong><br>
        <%= @log.deal_id %>
      </p>
    </div>

    <div class="col-md-4">
      <p>
        <strong>Particular:</strong><br>
        <%= @log.particular %>
      </p>
    </div>
    
    <div class="col-md-4">
      <p>
        <strong>Salesperson:</strong><br>
        <%= @log.salesperson %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Amount:</strong><br>
        <%= @log.currencies %>
        <%= @log.amount %>
      </p>
    </div>

    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <strong>Voucher#:</strong><br>
      <%= @log.voucher_no %>
    </div>
  </div>  

  <p>
    <strong>Prepared by:</strong>
    <%= @log.prepared %>
  </p>

  <br>
  
  <div class="row">
    <div class="col-md-4">
      <strong>Signed Cheque Date:</strong><br>
      <%= @log.sign_date %>
    </div>

    <div class="col-md-4">
      <strong>Cheque Presented Date:</strong><br>
      <%= @log.present_date %>
    </div>

    <div class="col-md-4">
      <strong>Void Cheque Reason:</strong><br>
      <%= @log.status %>
    </div>
  </div>

  
  <br>
  <br>

  <div class="panel-footer">
    <%= link_to 'Edit', edit_log_path(@log) %> |
    <%= link_to 'Back', logs_path %>
  </div>
</div>

