<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Payment Log" , root_path , class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to root_path do%>
              <span class="glyphicon glyphicon-list-alt"></span> View Record
            <% end %>
          </li>
          <% if not current_user.viewer? %>
            <li>
              <%= link_to new_log_path, 'data-no-turbolink' => true do %>
                <span class="glyphicon glyphicon-plus"></span> Add Record
              <% end %>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-upload"></span> Import Record
              </a>
                <ul class="dropdown-menu">
                  <%= render 'upload'%>
                </ul>
            </li>
          <% end %>

          <li>
            <%= link_to destroy_user_session_path, method: :delete do%>
              <span class="glyphicon glyphicon-user"></span> Log Out
            <% end %>
          </li>

        <% else %>

          <li>
            <%= link_to new_user_session_path do%>
            <span class="glyphicon glyphicon-user"></span> Login
            <% end %>
          </li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div><!-- /.container --> 
</nav>